body {
    background-color: #621402;
    font-family: 'Roboto', sans-serif;
}

.menu-link {
    color: white;
    text-decoration: none;
}

.menu {
    list-style-type: none;
    display: flex;
    margin: 0 auto;
    padding-left: 57px;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.menu-item {
    margin-right: 25px;


}

.header {
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.user {
    margin-left: auto;
    color: white;
    display: flex;
    align-items: center;


}

.avatar {
    margin-left: 11px;
}

